﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">THINK TWICE<br />CODE ONCE!</h1>
    <p>Learn about building Front-End Web apps with Eli Code</a>.</p>
</div>
<style>


    body {
        background-image: url(../Images/hh.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #464646;
        background-position: center;
    }
</style>
