﻿@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>


<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body, h1,h2,h3,h4,h5,h6 {
   
    font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: #222;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
}
</style>
<body class="w3-black">

    <!-- Icon Bar (Sidebar - hidden on small screens) -->
    <nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
        <!-- Avatar image in top left corner -->
        <img src="~/Images/ss.jpg" style="width:100%">
        <a href="#" class="w3-bar-item w3-button w3-padding-large w3-black">
            <i class="fa fa-home w3-xxlarge"></i>
            <p>HOME</p>
        </a>
        <a href="#about" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
            <i class="fa fa-user w3-xxlarge"></i>
            <p>ABOUT</p>
        </a>
        <a href="#photos" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
            <i class="fa fa-eye w3-xxlarge"></i>
            <p>PHOTOS</p>
        </a>
        <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
            <i class="fa fa-envelope w3-xxlarge"></i>
            <p>CONTACT</p>
        </a>
    </nav>

    <!-- Navbar on small screens (Hidden on medium and large screens) -->
    <div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
        <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
            <a href="#" class="w3-bar-item w3-button" style="width:25% !important">HOME</a>
            <a href="#about" class="w3-bar-item w3-button" style="width:25% !important">ABOUT</a>
            <a href="#photos" class="w3-bar-item w3-button" style="width:25% !important">PHOTOS</a>
            <a href="#contact" class="w3-bar-item w3-button" style="width:25% !important">CONTACT</a>
        </div>
    </div>

    <!-- Page Content -->
    <div class="w3-padding-large" id="main">
        <!-- Header/Home -->
        <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
            <h1 class="w3-jumbo"><span class="w3-hide-small">I'm</span> Lavii.</h1>
            <p>Writter and Web Designer.</p>
            <img src="~/Images/ss.jpg" alt="boy" class="w3-image" width="592" height="1108">
        </header>

        <!-- About Section -->
        <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
            <h2 class="w3-text-light-grey">Some About Me</h2>
            <hr style="width:200px" class="w3-opacity">
            <p>
              some text about me ,my name is lavii and i live in kwrdstan,i want to say that all my lafe now is go around coddin and design nice websites
                for evry one that want to have his own wesite ,but my childwood dream is that i want to become a best gerl writter in my country but once
                i graw up and become a student at universti and saw that i am so good at codding and when i was use my laptop to code and bring my imagination 
                world to the site i was feel like iam dreaming so that was how i decide to become a girl devloper and iam so happy with it i will try my best forever .
            </p>
            <h3 class="w3-padding-16 w3-text-light-grey">My Skills</h3>
            <p class="w3-wide">front-end -devloper</p>
            <div class="w3-white">
                <div class="w3-dark-grey" style="height:28px;width:95%"></div>
            </div>
            <p class="w3-wide">Web Design</p>
            <div class="w3-white">
                <div class="w3-dark-grey" style="height:28px;width:85%"></div>
            </div>
            <p class="w3-wide">app Design</p>
            <div class="w3-white">
                <div class="w3-dark-grey" style="height:28px;width:80%"></div>
            </div><br>

            <div class="w3-row w3-center w3-padding-16 w3-section w3-light-grey">
                <div class="w3-quarter w3-section">
                    <span class="w3-xlarge">5+</span><br>
                    Partners
                </div>
                <div class="w3-quarter w3-section">
                    <span class="w3-xlarge">15+</span><br>
                    Projects Done
                </div>
                <div class="w3-quarter w3-section">
                    <span class="w3-xlarge">0+</span><br>
                    Happy Clients
                </div>
                <div class="w3-quarter w3-section">
                    <span class="w3-xlarge">0+</span><br>
                    Meetings
                </div>
            </div>

            <button class="w3-button w3-light-grey w3-padding-large w3-section">
                <i class="fa fa-download"></i> Download Resume
            </button>

            <!-- Grid for pricing tables -->
            <h3 class="w3-padding-16 w3-text-light-grey">My Price</h3>
            <div class="w3-row-padding" style="margin:0 -16px">
                <div class="w3-half w3-margin-bottom">
                    <ul class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off">
                        <li class="w3-dark-grey w3-xlarge w3-padding-32">Basic</li>
                        <li class="w3-padding-16">Web Design</li>
                        <li class="w3-padding-16">Photography</li>
                        <li class="w3-padding-16">5GB Storage</li>
                        <li class="w3-padding-16">Mail Support</li>
                        <li class="w3-padding-16">
                            <h2>$ 10</h2>
                            <span class="w3-opacity">per month</span>
                        </li>
                        <li class="w3-light-grey w3-padding-24">
                            <button class="w3-button w3-white w3-padding-large w3-hover-black">Sign Up</button>
                        </li>
                    </ul>
                </div>

                <div class="w3-half">
                    <ul class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off">
                        <li class="w3-dark-grey w3-xlarge w3-padding-32">Pro</li>
                        <li class="w3-padding-16">Web Design</li>
                        <li class="w3-padding-16">Photography</li>
                        <li class="w3-padding-16">50GB Storage</li>
                        <li class="w3-padding-16">Endless Support</li>
                        <li class="w3-padding-16">
                            <h2>$ 25</h2>
                            <span class="w3-opacity">per month</span>
                        </li>
                        <li class="w3-light-grey w3-padding-24">
                            <button class="w3-button w3-white w3-padding-large w3-hover-black">Sign Up</button>
                        </li>
                    </ul>
                </div>
                <!-- End Grid/Pricing tables -->
            </div>

            <!-- Testimonials -->
            <h3 class="w3-padding-24 w3-text-light-grey">My Reputation</h3>
            <img src="~/Images/le.jpeg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px">
            <p><span class="w3-large w3-margin-right">Chris Fox.</span> CEO at Mighty Schools.</p>
            <p>Jane Doe saved us from a web disaster.</p><br>

            <img src="~/Images/shine.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px">
            <p><span class="w3-large w3-margin-right">Rebecca Flex.</span> CEO at Company.</p>
            <p>No one is better than Jane Doe.</p>
            <!-- End About Section -->
        </div>

        <!-- Portfolio Section -->
        <div class="w3-padding-64 w3-content" id="photos">
            <h2 class="w3-text-light-grey">My Photos</h2>
            <hr style="width:200px" class="w3-opacity">

            <!-- Grid for photos -->
            <div class="w3-row-padding" style="margin:0 -16px">
                <div class="w3-half">
                    <img src="~/Images/1.jpg" style="width:100%">
                    <img src="~/Images/2.png" style="width:100%">
                 
                </div>

                <div class="w3-half">
                    <img src="~/Images/2.png" style="width:100%">
                    <img src="~/Images/4.jpg" style="width:100%">
                  
                </div>
                <!-- End photo grid -->
            </div>
            <!-- End Portfolio Section -->
        </div>

        <!-- Contact Section -->
        <div class="w3-padding-64 w3-content w3-text-grey" id="contact">
            <h2 class="w3-text-light-grey">Contact Me</h2>
            <hr style="width:200px" class="w3-opacity">

            <div class="w3-section">
                <p><i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> sulaymanyah,iraq</p>
                <p><i class="fa fa-phone fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Phone: +00 151515</p>
                <p><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i> Email: mail@mail.com</p>
            </div><br>
            <p>Lets get in touch. Send me a message:</p>

            <form action="/action_page.php" target="_blank">
                <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="Name"></p>
                <p><input class="w3-input w3-padding-16" type="text" placeholder="Email" required name="Email"></p>
                <p><input class="w3-input w3-padding-16" type="text" placeholder="Subject" required name="Subject"></p>
                <p><input class="w3-input w3-padding-16" type="text" placeholder="Message" required name="Message"></p>
                <p>
                    <button class="w3-button w3-light-grey w3-padding-large" type="submit">
                        <i class="fa fa-paper-plane"></i> SEND MESSAGE
                    </button>
                </p>
            </form>
            <!-- End Contact Section -->
        </div>

        <!-- Footer -->
        <footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
            <i class="fa fa-facebook-official w3-hover-opacity"></i>
            <i class="fa fa-instagram w3-hover-opacity"></i>
            <i class="fa fa-snapchat w3-hover-opacity"></i>
            <i class="fa fa-pinterest-p w3-hover-opacity"></i>
            <i class="fa fa-twitter w3-hover-opacity"></i>
            <i class="fa fa-linkedin w3-hover-opacity"></i>
            <p class="w3-medium">Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank" class="w3-hover-text-green">w3.css</a></p>
            <!-- End footer -->
        </footer>

        <!-- END PAGE CONTENT -->
    </div>

</body>
</html>
